* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game-bet {
  height: 100vh;
  border: 5px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
  color: rgb(46, 43, 43);
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 20px;
  color: rgb(46, 43, 43);
  text-align: center;
}

.container-play {
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.play {
  font-size: 20px;
  color: rgb(46, 43, 43);
  text-align: center;
}

.button {
  width: 48px;
  background-color: aquamarine;
  border-radius: 3px;
  color: lightgoldenrodyellow;
}

.money {
  font-size: 15px;
  color: grey;
  text-align: center;
  margin-top: 5px;
}
